<div *ngIf="params" class="center" >
 <h3>Set new Password</h3>
  <form [formGroup]="newPsdForm" class="center" style="border: 6px solid #3f51b5; padding: 74px">
    <mat-form-field style="width: 100%">
      <input matInput [type]="showPassord? 'text' : 'password'" placeholder="Password" formControlName="newPassword" #pass>
          <mat-error class="error"  *ngIf=" !newPsdForm.controls['newPassword'].valid
      && newPsdForm.controls['newPassword'].errors?.number ">
      Enter atleast one number</mat-error>
    <mat-error class="error"  *ngIf=" !newPsdForm.controls['newPassword'].valid
      && newPsdForm.controls['newPassword'].errors?.capital ">
      Enter atleast one capital letter</mat-error>
    <mat-error class="error"*ngIf=" !newPsdForm.controls['newPassword'].valid
      && newPsdForm.controls['newPassword'].errors?.special ">
      Password should have special characters</mat-error>
    <mat-error class="error"*ngIf=" !newPsdForm.controls['newPassword'].valid
      && newPsdForm.controls['newPassword'].errors?.minlength ">
      Password should have atleast 8 characters</mat-error>
    <mat-error class="error"  *ngIf=" newPsdForm.controls['newPassword'].errors?.required
      && newPsdForm.controls['newPassword'].touched">
      This is required</mat-error>
      <button style="color:black !important" type="button" mat-icon-button matSuffix (click)="showPassord = !showPassord" style="background-color: white; font-size: 22px;">
        <mat-icon>{{showPassord ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
    </mat-form-field>

  <button mat-button (click)="setNewPsd(pass.value)" >Change Password</button>
</form>
</div>
<div *ngIf="!params" class="center">
  <div class="center" style="border: 6px solid #3f51b5; padding: 10px" >
    <mat-form-field style="width: 100%">
      <input type="text" matInput placeholder="Email" [formControl]="email">
          <mat-error class="error"
          *ngIf=" email.valid
          && email.errors?.email ">
        Enter valid Email</mat-error>
        <mat-error class="error"
          *ngIf=" email.errors?.required
          && email.touched">
          This is required</mat-error>
    </mat-form-field>
    <button mat-button color="primary" (click)="checkEmail(email.value)">Send Email at your registered Email address</button>
  </div>


</div>
