
<mat-tab-group (selectedTabChange)="tabChange($event)" >
    <mat-tab label="Clothes" infiniteScroll
      [infiniteScrollDistance]="10"
      [infiniteScrollThrottle]="50"
      (scrolled)="fetchProducts(category)" >
        <div class="product-container">
            <div *ngFor="let product of products[category] "
            style="flex: auto;" >

                <app-card [received]="product" [description]="product['price']"
                (clicked)="getProductDetails(product)" ></app-card>
                <!-- the one passed in the card and the data when card is clicked is different -->
            </div>
        </div>
      </mat-tab>
    <mat-tab label="Shoes" infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="fetchProducts(category)">
      <div class="product-container">
            <div *ngFor="let product of products[category]"
            style="flex: auto;" >

                <app-card [received]="product" [description]="product['price']"
                (clicked)="getProductDetails(product)" ></app-card>
            </div>
        </div>
     </mat-tab>
</mat-tab-group>
<div style="width: 100%" [hidden]="!loading">
    <mat-progress-spinner style="width:50%; margin:auto;" [mode]="'indeterminate'">
    </mat-progress-spinner>
</div>

