
<mat-form-field>
  <input matInput placeholder="Search for products" [(ngModel)]="filter" >
</mat-form-field>
<div style="display:flex;">
    <div *ngFor="let product of products | filter: category: 'category' | filter: filter:'name'"
    style="flex: auto" >
        <app-card [received]="product" [description]="product['data']['price']"
        (click)="getProductDetails(product)" ></app-card>
        <!-- the one passed in the card and the data when card is clicked is different -->
    </div>
      <div>
        <button mat-button [ngClass]="{'active' :category==='clothes'}" (click)="category = 'clothes'" >Clothes</button>
        <button mat-button [ngClass]="{'active' :category==='shoes'}" (click)="category = 'shoes'" >Shoes</button>
      </div>


</div>
