<h1 style="margin-left:20px;">Details of {{user.name}}</h1>
<button mat-button color="primary" (click)="goBack()"  >
    <mat-icon>
      arrow_back
    </mat-icon>
    </button>
<div class="user-container">
  <mat-card>
  <div class="user-details">
    <div style="width: 30%">
    <img src="{{user.image}}">
    </div>
    <div style="width: 70%" >
      <h3>Total Orders: {{orders?.length}}</h3>
      <hr>
      <button mat-button style="background-color: rgba(137, 62, 190, 0.685); color: white;" (click)= "showOrders = !showOrders">Show Orders</button>
    </div>
  </div>
</mat-card>
<h2 style="margin-left: 30px;" *ngIf="showOrders && !orders?.length"  >No Orders Yet</h2>
<table *ngIf="showOrders && orders?.length "  mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let order"> {{order.total}} </td>
    </ng-container>

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let order"> {{order.userName}} </td>
    </ng-container>
    <ng-container matColumnDef="UserId">
        <th mat-header-cell *matHeaderCellDef> UserId </th>
        <td mat-cell *matCellDef="let order"> {{order.userId}} </td>
      </ng-container>

    <ng-container matColumnDef="Shipping Address">
      <th mat-header-cell *matHeaderCellDef> Shipping Address</th>
      <td mat-cell *matCellDef="let order"> {{order.address}} </td>
    </ng-container>

    <ng-container matColumnDef="Unit Price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let order"> {{order.price}} </td>
    </ng-container>
    <ng-container matColumnDef="Quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let order"> {{order.quantity}} </td>
      </ng-container>
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let order">
            <mat-chip *ngIf="order.status ==='Delivered'"  color="primary" selected>{{order.status}}</mat-chip>
            <mat-chip *ngIf="order.status ==='Accepted'"  color="accent" selected>{{order.status}}</mat-chip>
            <mat-chip *ngIf="order.status ==='Pending'"  color="warn" selected>{{order.status}}</mat-chip>
            <mat-chip *ngIf="order.status ==='Shipped'"  color="warn" selected>{{order.status}}</mat-chip>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;" (click)="eachRow(row)"></tr>

  </table>
</div>
