<button mat-button color="primary" (click)="goBack()"  >
  <mat-icon>
    arrow_back
  </mat-icon>
  </button>
  <mat-card color="primary" >
    <mat-card-title style="margin-bottom: 20px;" >{{product.name}}</mat-card-title>
    <div style="display: flex;" >
    <div style="width: 50%" >
      <img mat-card-image [src]="product.image">

    </div>
    <mat-card-content >
      {{product.data.description}}
    </mat-card-content>
  </div>
  <div style="display: flex;" >
    <div>
        <b for="schedule">Schedule the order :</b>
        <input [matDatepicker]="picker" placeholder="MM/DD//YYYY">
        <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
    </div>
        <div style="flex: auto" >
        <mat-card-actions align="end" >
            <button mat-button> Add To Cart</button>
            <button mat-button> Buy Now</button>
          </mat-card-actions>
        </div>
    </div>
  </mat-card>
