<h1>Details of Order By {{order.userName}}</h1>
<button mat-button color="primary" (click)="goBack()"  >
    <mat-icon>
      arrow_back
    </mat-icon>
</button>

<button mat-button (click)="deleteOrder(order._id)"  style="background-color: rgb(51, 14, 78); color:white;  position: absolute;right:36px;">
  <mat-icon>delete</mat-icon>
</button>
<div class="order-container">
  <div class="order-details">
    <div style="width: 30%">
    <img src="{{order.productImage}}">
    </div>
    <div style="width: 70%" >
      <h3>{{order.productName}}</h3>
      <hr>
    <h5 *ngIf="order.scheduled"  >Scheduled on : {{order.scheduled}}</h5>
      <p>Quantity: {{order.quantity}}</p>
      <p>Price: {{order.price}}</p>
      <p>Total: {{order.total}}</p>
      <p>Status: {{order.status}}</p>
      <h5>Ordered by {{order.userName}}</h5>
    </div>
  </div>
<div>
  <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
  <mat-horizontal-stepper #stepper [selectedIndex]="step">
      <mat-step >
          <ng-template matStepLabel>Ordered</ng-template>
          <button mat-button matStepperNext (click)="increaseProgress()" > Progress
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </mat-step>
      <mat-step >
        <ng-template matStepLabel>Confirmed</ng-template>
        <button mat-button matStepperNext (click)="increaseProgress()" > Progress
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </mat-step>
      <mat-step >
          <ng-template matStepLabel>Shipped</ng-template>
          <button mat-button matStepperNext (click)="increaseProgress()" > Progress
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Delivered</ng-template>
        ORDER DELIVERED
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
