mat-card{
  margin-right: 100px;
  height: 317px;
  width: 201px;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor:pointer;
  background-color: #ccc3c440;
  margin-bottom: 20px;
  padding-left:0;
  padding-right: 0;
}
mat-card-title {
  text-align: center;
}
mat-card-content {
  padding-left: 10px;
}
img {
  width: 100%;
  height: 232.39px;
}
.Clothes, .Shoes {
  height: 261.39px;
  width: 200px;
}
.user {
  height: 356px;
  width: 271px;
}



