<mat-card (click)="gotClicked()" >
  <mat-card-title>{{received.name}}</mat-card-title>
<img mat-card-image src="{{received.image}}" class="{{received['category']}}" alt="photo of {{received.name}}">
  <mat-card-content>
    <p >
      <b>
         <span *ngIf="description">&#8377;</span> {{received.descrip}}
    </b>
  </p>
  <span *ngIf="!received['totalOrders'] && !description " >No orders Yet !!</span>
  <div *ngIf="received['totalOrders']" >
  <h4>Total Orders:</h4> <p>{{received['totalOrders']}}</p>
  </div>
  </mat-card-content>
</mat-card>
