<mat-card>
  <mat-card-title>Login</mat-card-title>
<mat-card-content>

<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" style="width: 100%">
    <p class="error" *ngIf="invalid" >Invalid User</p>
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Email" formControlName="email">
  </mat-form-field>
</p>
<p class="error"
        *ngIf=" !loginForm.controls['email'].valid
        && loginForm.controls['email'].errors?.email ">
      Enter valid Email</p>
      <p class="error"
        *ngIf=" loginForm.controls['email'].errors?.required
        && loginForm.controls['email'].touched">
        This is required</p>
<p>
  <mat-form-field>
    <input [type]="showPassord? 'text' : 'password'" matInput placeholder="Password" formControlName="password" #pass>
    <button type="button" mat-icon-button matSuffix (click)="showPassord = !showPassord" style="background-color: white; font-size: 22px;">
      <mat-icon>{{showPassord ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
  </mat-form-field>
</p>
<p class="error"
  *ngIf=" loginForm.controls['password'].errors?.required
  && loginForm.controls['password'].touched">
  This is required</p>
<div class="button">
  <button type="submit" mat-button >Login</button>
</div>

</form>
</mat-card-content>
<button style="width: 100%; background-color: #dd4b39; margin:6px; margin-left:0; color:white;"
(click)="signInWithGoogle()" mat-button>Sign In with Google</button>
<button style="width: 100%; background-color: #3b5898; margin:6px; margin-left:0; color:white;"
(click)="signInWithFB()" mat-button>Sign In with Facebook</button>
</mat-card>
