<mat-toolbar color="primary" *ngIf="!shared.loggedIn" >
<h1 style="flex: auto;" >{{shared.page}}</h1>
    <a mat-button routerLinkActive="active"   routerLink="/login">Login</a>
    <a mat-button routerLinkActive="active"   routerLink="/signup">Sign Up</a>
</mat-toolbar>
<mat-toolbar color="primary" *ngIf="shared.loggedIn" >
    <h1 style="flex: auto;" >{{shared.page}}</h1>
         <a mat-button routerLinkActive="active" routerLink="/add-product" *ngIf="shared.isAdmin"><mat-icon >add_box</mat-icon></a>
          <a mat-button routerLinkActive="active" routerLink="/products" *ngIf="!shared.isAdmin"  >Products</a>
          <a mat-button routerLinkActive="active" routerLink="/users"  >Users</a>
          <a mat-button routerLinkActive="active" routerLink="/orders" *ngIf="!shared.isAdmin" >Orders</a>
          <a mat-button routerLinkActive="active" routerLink="/manage/orders" *ngIf="shared.isAdmin" >Manage Orders</a>
          <button mat-button [matMenuTriggerFor]="account">Account</button>
          <mat-menu #account="matMenu">
            <button mat-menu-item *ngIf="!shared.isAdmin" routerLinkActive="active" routerLink="/manage-account" >
              Manage Account
            </button>
            <button mat-menu-item (click)="signout()" >Sign Out</button>
          </mat-menu>
          <button *ngIf="shared.isAdmin" mat-button (click)="seen()" [matMenuTriggerFor]="notif">
            <mat-icon [matBadge]="shared?.unreadNotifs" [matBadgeHidden]="!shared?.unreadNotifs" matBadgeColor="warn" >notifications</mat-icon>
          </button>
          <mat-menu #notif="matMenu" style="background-color: #807d7d8a;" >
            <div *ngFor="let notification of shared.notifications; let i = index"  >
            <p mat-menu-item style=" padding: 10px;text-align: justify;" routerLink="order-status" state="{data:{{notification.order}}}"
            class="{{notification.status}}" >{{notification.order.placedBy}} has ordered {{notification.order.quantity}} {{notification.order.productName}} with a total of {{notification.order.total}}.  </p>
            </div>
          </mat-menu>

          <a mat-button routerLinkActive="active" routerLink="/cart" *ngIf="!shared.isAdmin" >
            <mat-icon [matBadge]="shared.currentUser.cart.length" matBadgeColor="warn" >shopping_cart</mat-icon>
          </a>
        <!-- <button mat-button (click)="toggleAdmin()">admin: {{shared.isAdmin}}</button> -->
</mat-toolbar>
<h1 *ngIf="!shared.loggedIn"  >Welcome to the E-Commerce App</h1>
