<mat-toolbar color="primary" *ngIf="!shared.loggedIn" >
<h1 style="flex: auto;" >{{shared.page}}</h1>
    <a mat-button routerLinkActive="active"   routerLink="/login">Login</a>
    <a mat-button routerLinkActive="active"   routerLink="/signup">Sign Up</a>
</mat-toolbar>
<mat-toolbar color="primary" *ngIf="shared.loggedIn" >
    <h1 style="flex: auto;" >{{shared.page}}</h1>
         <a mat-button routerLinkActive="active" routerLink="/add-product" *ngIf="shared.isAdmin"><mat-icon >add_box</mat-icon></a>
          <a mat-button routerLinkActive="active" routerLink="/products" *ngIf="!shared.isAdmin"  >Products</a>
          <a mat-button routerLinkActive="active" routerLink="/users" *ngIf="shared.isAdmin" >Users</a>
          <a mat-button routerLinkActive="active" routerLink="/orders" *ngIf="!shared.isAdmin" >Orders</a>
          <a mat-button routerLinkActive="active" routerLink="/manage/orders" *ngIf="shared.isAdmin" >Manage Orders</a>
          <button mat-button [matMenuTriggerFor]="account">Account</button>
          <mat-menu #account="matMenu">
            <button mat-menu-item *ngIf="!shared.isAdmin" routerLinkActive="active" routerLink="/manage-account" >
              Manage Account
            </button>
            <button mat-menu-item (click)="signout()" >Sign Out</button>
          </mat-menu>
          <button *ngIf="shared.isAdmin" mat-button [matMenuTriggerFor]="notif">
            <mat-icon [matBadge]="i" matBadgeColor="warn" >notifications</mat-icon>
          </button>
          <mat-menu #notif="matMenu">
            <div *ngFor="let order of orders; let i = index" >
            <button mat-menu-item>{{order.userName}} has ordered {{order.productName}} </button>
            </div>
          </mat-menu>

          <a mat-button routerLinkActive="active" routerLink="/cart" *ngIf="!shared.isAdmin" >
            <mat-icon [matBadge]="shared.currentUser.cart.length" matBadgeColor="warn" >shopping_cart</mat-icon>
          </a>
        <!-- <button mat-button (click)="toggleAdmin()">admin: {{shared.isAdmin}}</button> -->
</mat-toolbar>
<h1 *ngIf="!shared.loggedIn"  >Welcome to the E-Commerce App</h1>
