<mat-toolbar color="primary" >
<h1 style="flex: auto;" >{{shared.page}}</h1>
      <!-- <a mat-button routerLinkActive="active" routerLink="/products" *ngIf="!isAdmin"  >Products</a>
      <a mat-button routerLinkActive="active" routerLink="/users" *ngIf="isAdmin"  >Users</a>
      <a mat-button routerLinkActive="active" routerLink="/orders" *ngIf="!isAdmin" >Orders</a>
      <a mat-button routerLinkActive="active" routerLink="/manage/orders" *ngIf="isAdmin" >Manage Orders</a>
      <button mat-button [matMenuTriggerFor]="account">Account</button>
      <mat-menu #account="matMenu">
        <button mat-menu-item>Manage Account</button>
        <button mat-menu-item>Sign Out</button>
      </mat-menu>
    <button mat-button (click)="toggleAdmin()">admin: {{isAdmin}}</button> -->

    <a mat-button routerLinkActive="active" routerLink="/login">Login</a>
    <a mat-button routerLinkActive="active" routerLink="/signup">Sign Up</a>
</mat-toolbar>
<h1>Welcome to the E-Commerce App</h1>
